<ion-view title="このPJTについて">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <h3>このプロジェクトについて</h3>
    <div>
      <button class="button button-outline button-positive">
      Twitterでログイン
      </button>
    </div>

    <div>
      <button class="button button-outline button-positive">
      Facebookでログイン
      </button>
    </div>
    <button class="button icon ion-gear-a"></button>
    <div class="button-bar">
      <a class="button">First</a>
      <a class="button">Second</a>
      <a class="button">Third</a>
    </div>

    <!-- ------------------------------------------------------------- -->
    <ul class="list">

      <li class="item item-toggle">
         購入者に通知する
         <label class="toggle toggle-assertive">
           <input type="checkbox">
           <div class="track">
             <div class="handle"></div>
           </div>
         </label>
      </li>

    </ul>


    <!-- ------------------------------------------------------------- -->
    <div class="list">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Password">
        </label>
        <label class="item item-input">
          <textarea placeholder="Comments"></textarea>
        </label>
      </div>

      <div class="item item-divider">
        幽遊白書
      </div>

      <a class="item" href="#">
          <i class="icon ion-email"></i>妖狐蔵馬
      </a>
      <a class="item" href="#">
          <i class="icon ion-chatbubble-working"></i>
          浦飯幽助
      </a>

      <a class="item" href="#">
          桑原
      </a>
      <a class="item" href="#">
          飛影
      </a>

      <div class="item item-divider">
        ハンターハンター
      </div>

      <!-- hoge -->
      <div class="item item-button-right">
        Call Ma
        <button class="button button-positive">
          <i class="icon ion-ios7-telephone"></i>
        </button>
      </div>

    </div>

  </ion-content>
</ion-view>
